<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632997334810-tn9bktbki9rl9t56ieia0qdmqtnu8uv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632997334810-tn9bktbki9rl9t56ieia0qdmqtnu8uv4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>632997334810-ntkv2rgfiibe7ts6gsc29b4i6bm33b93.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_Jqw6KeJ2im2YnN55nm4JGYGSRiw5qS0</string>
	<key>GCM_SENDER_ID</key>
	<string>632997334810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.speedrent</string>
	<key>PROJECT_ID</key>
	<string>speedrent-971</string>
	<key>STORAGE_BUCKET</key>
	<string>speedrent-971.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:632997334810:ios:ceddc06fb410132a</string>
	<key>DATABASE_URL</key>
	<string>https://speedrent-971.firebaseio.com</string>
</dict>
</plist>
